html {
  background-color: #ffd1dc;
}

.App {
  flex: 1;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.container {
  flex-direction: row;
  -webkit-flex-flow: row;
  margin: 10rem;
}

.transport {
  display: block;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-around;
  line-height: 30px;
}

.flex-item:before {
  content: '';
  float: left;
  padding-top: 100%;
}

.flex-item {
  background: rgb(180, 180, 180);
  margin: 2px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  flex: 1 0 auto;
  height: auto;
  border-radius: 4px;
}

.flex-item:hover {
  background-color: rgba(248, 236, 72, 0.582);
  -webkit-transition: .05s;
  transition: ease-in .05s;
}

.position-item:before {
  content: '';
  float: left;
  padding-top: 10%;
}

.position-item {
  background: rgb(164, 250, 183);
  margin: 2px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  flex: 1 0 auto;
  height: auto;
  border-radius: 4px;
}

.position-item-on {
  background-color: rgb(56, 53, 240);
}

.grid-on {
  background-color: rgb(247, 236, 88);
}

.grid-on:hover {
  background-color: rgba(248, 109, 109, 0.582);
  
}

.instrument-name {
  margin-top: 20px;
}

.transport-options {
  display: flex;
  flex-direction: column;
}

.track-controls {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.play-button {
  flex: 1;
  margin: 0.5rem;
  background-color: rgb(207, 207, 207);
  border-radius: 4px;
  -webkit-transition: .2s;
  transition: ease-in .1s;
}

.play-button:hover {
  background-color: rgb(112, 224, 112);
}

.stop-button {
  flex: 1;
  margin: 0.5rem;
  background-color: rgb(207, 207, 207);
  border-radius: 4px;
  -webkit-transition: .2s;
  transition: ease-in .1s;
}

.stop-button:hover {
  background-color: rgb(235, 86, 86);
}

.misc-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.set-bpm {
  flex: 1;
  margin: 0.5rem;
  background-color: rgb(207, 207, 207);
  border-radius: 4px;
  -webkit-transition: .2s;
  transition: ease-in .1s;
}

.set-bpm:hover {
  background-color: rgb(148, 148, 148);
  color: white;
}

.clear-grid {
  flex: 1;
  margin: 0.5rem;
  background-color: rgb(207, 207, 207);
  border-radius: 4px;
  -webkit-transition: .2s;
  transition: ease-in .1s;
}

.clear-grid:hover {
  background-color: rgb(255, 0, 0);
  color: white;
}

.metronome {
  flex: 1;
  margin: 0.5rem;
  background-color: rgb(207, 207, 207);
  border-radius: 4px;
  -webkit-transition: .2s;
  transition: ease-in .1s;
}

.metronome:hover {
  background-color: rgb(255, 217, 0);
}

.metronome-on {
  background-color: rgb(255, 217, 0);
}

.metronome-on:hover {
  background-color: rgb(207, 207, 207);
}

.dimmed {
  position: relative;
}

.dimmed:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  float: left;
}

.flavor-town {
  position: absolute;
  z-index: -9999;
}
